body {
	background-color: #000000;
}

.mainTable {
	cellpadding: 50;
}

.content-container {
	overflow: hidden; 
	position:relative;
	text-align: center;
	width: 100%;
}

.slider-handle {
	position:absolute;
	background:url(assets/pngs/horzScrollLever.png) no-repeat center center;
	height:55px;
	width:55px;
}

.slider-background{
	background:url(assets/pngs/horzScrollBed.png) no-repeat center center;
	height: 55px;
}