body {
	background-color: #000000;
}

.mainTable {
	width: 1680px;
	height: 1050px;
	overflow: hidden;
}

.content-container {
	overflow: hidden; 
	position:relative;
	text-align: center;
	width: 100%;
}

.slider-handle {
	position:absolute;
	height:55px;
	width:55px;
}

.controls {
	position:relative;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
	padding-left: 30px;
	width: 100%;
}

.button {
	display:inline-block;
}

.slider-background{
	position:relative;
	display:inline-block;
	background:url(assets/pngs/horzScrollBed.png) no-repeat center center;
	text-align: left;
	margin: 0 auto;
	height: 55px;
}

